* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(202, 211, 245);
}

html,
body {
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-bar,
.bottom-bar {
    height: 48px;
    background: rgb(30, 32, 48);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.bottom-bar {
    background-color: rgb(24, 25, 38);
    height: 24px;
}

.ide {
    flex: 1;
    display: flex;
    overflow: hidden;
    padding-left: 10px;
    background-color: rgb(36, 39, 58);
}

.editor {
    flex: 1;
    resize: none;
    border: none;
    outline: none;
    padding: 12px;
    margin: 12px;
    margin-right: 6px;
    border: 1px solid rgb(24, 25, 38);
    border-radius: 5px;
    font-family: monospace;
    font-size: 14px;
    background-color: rgb(36, 39, 58);
}

.info-panel {
    width: 360px;
    background: rgb(36, 39, 58);
    padding: 12px;
    margin: 12px;
    margin-left: 6px;
    border: 1px solid rgb(24, 25, 38);
    border-radius: 5px;
    flex-shrink: 0;
}
